<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <vtex:template id="optoculos-commonHead" />
</head>

<body>
    <div class="all">
        <vtex:template id="optoculos-header" />
        
        <div id="mainContent">
            <div class="wrapper">
                <h2 class="titulo-sessao">Ajuda e suporte</h2>

                <!-- NAVEGAÇÃO LATERAL -->
                <h3 class="selected"><span></span> <i class="ico-arrow"></i></h3>
                <aside class="navSidebar">                    
                    <div class="asideOverlay"></div>
                    <nav class="institutionalLinks">
                        <a href="#" class="close"><i class="ico-close"></i></a>
                        <ul>
                            <li><a href="/ajuda-e-suporte/como-comprar" title="Como comprar">Como comprar</a></li>
                            <li><a href="/ajuda-e-suporte/pagamento" title="Pagamento">Pagamento</a></li>
                            <li><a href="/ajuda-e-suporte/seguranca" title="Segurança">Segurança</a></li>
                            <li><a href="/ajuda-e-suporte/entrega" title="Entrega">Entrega</a></li>
                            <li><a href="/ajuda-e-suporte/politica-de-troca" title="Política de troca">Política de troca</a></li>
                        </ul>
                    </nav>
                </aside>
                
                <!-- CONTEUDO -->
                <section class="pageContent">                    
                     <vtex:contentPlaceHolder id="conteudo ajuda e suporte" />
                </section>

    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="optoculos-footer" />
    </div><!--/all-->

    <vtex:template id="optoculos-commonBottom" />
</body>
</html>