<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <vtex:template id="optoculos-commonHead" />
</head>

<body>
    <div class="all">

        <vtex:template id="optoculos-header" />
        
        <div id="mainContent">
            <div class="wrapper">
            
            <div class="pageError">
                <h1><span class="green">4</span><span class="blue">0</span><span class="red">4</span></h1>
                <h4>A página que você procura<br/>
                    não existe ou foi removida</h4>
                <ul>
                    <li> O conteúdo pode não estar mais no ar;</li>
                    <li> Pode ter ocorrido um problema no nosso servidor;</li>
                    <li> Ou o endereço pode estar errado.</li>
                </ul>
            </div> 
            
    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="optoculos-footer" />
    </div><!--/all-->

    <vtex:template id="optoculos-commonBottom" />
</body>
</html>