<div class="pageFooter">
    <div class="wrapper">
        <div class="mainFooter">
            <div class="paymentCol footerItem toggle">
                <h3>Formas de pagamento <i class="ico-arrow"></i></h3>
                <div class="itemContent">
                    <ul>
                        <li><i class="ico-master"></i></li>
                        <li><i class="ico-visa"></i></li>
                        <li><i class="ico-amex"></i></li>
                        <li><i class="ico-diners"></i></li>
                        <li><i class="ico-hypercard"></i></li>
                        <li><i class="ico-elo"></i></li>
                        <li><i class="ico-boleto"></i></li>
                    </ul>
                </div>
            </div>
            
            <div class="safeCol footerItem toggle">
                <h3>Segurança <i class="ico-plus"></i></h3>
                <div class="itemContent">
                    <ul>
                        <li class="pci">
                            <a href="http://secure.vtex.com/?an=optoculos" target="_blank">
                                <img src="//io.vtex.com.br/front-libs/assets/pci/vtex-pci-100.png" alt="VTEX PCI Certified" width="75" />
                            </a>
                        </li>
                        <li class="encripty">
                            <a href="https://letsencrypt.org/" target="_blank">
                                <img src="/arquivos/letsencrypt-stamp.png" alt="Let's Encripty" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="powerCol footerItem">
                <ul>
                    <li><a href="http://www.vtex.com.br" title="Vtex e-commerce cloud aplication" target="_blank"><i class="ico-vtex"></i>Vtex</a></li>
                    <li><a href="http://www.agenciaecan.com.br" title="E-can - Performance Digital" target="_blank"><i class="ico-ecan"></i>e-can</a></li>
                </ul>
            </div>
        </div>  
    </div>  
    <div class="addressRow">
        <div class="wrapper">
            <span>M&amp;S Franchising LTDA CNPJ: 29.398.040/0001-15 </span><address> Alameda Rio Negro, 503 Andar 23 - Conj. 201 Alphaville - Barueri/SP CEP: 06454-000</address>
        </div>
    </div>
</div>