<footer class="pageFooter">
	<div class="topFooter">
		<div class="wrapper">
			<div id="new" class="newsletter newsBox">
				<h3><span>Cadastre-se e ganhe</span>10% OFF <span>Na sua primeira compra</span></h3>
				<fieldset class="formFooter">
					<div class="campos">
						<div class="inputName"> 
							<input id="ClientName"  type="text" class="newsletter-client-name" name="name" size="20" placeholder="Digite seu Nome" />
						</div>
						<div class="inputEmail"> 
							<input id="ClientEmail"  type="text" class="newsletter-client-email" name="email" size="50" placeholder="Digite seu E-mail" />
						</div>
						<div class="inputGender"> 
							<input type="radio" id="newsFeminino" class="newsGender" name="gender" value="Feminino" />
							<label for="newsFeminino" class="labelGender">Feminino</label>
							<br/>
							<input type="radio" id="newsMasculino" class="newsGender" name="gender" value="Masculino" />
							<label for="newsMasculino" class="labelGender">Masculino</label>
						</div>
						<div class="inputButton"> 
							<button id="ButtonOK-News" class="btn-ok newsletter-button-ok"> Cadastrar </button>
						</div>
					</div>

					<div class="success">
					</div>

					<div class="erro server">
						<p>Encontramos um erro no seu cadastro <br />Verifique se o endereço de e-mail está correto! </p>
						<a href="#" class="tryAgain">Tentar novamente</a>
					</div>

					<div class="erro duplicate">
						<p>Esse e-mail já foi cadastrado em nosso sistema!</p>
						<a href="#" class="tryAgain">Tentar novamente</a>
					</div>

				</fieldset>
			</div>	
		</div>
	</div>
	<div class="middleFooter">
		<div class="wrapper">
			<div class="footerLinks">
				<div class="socialCol">
					<img src="/arquivos/optoculos-logo-vertical.png" alt="" class="hideMobile"/>
					<img src="/arquivos/optoculos-logo-white.png" alt="" class="hideDesk"/>
					<ul>
						<li><a href="" target="_blank"><i class="ico-facebook"></i></a></li>
						<li><a href="" target="_blank"><i class="ico-instagram"></i></a></li>
						<li><a href="" target="_blank"><i class="ico-twitter"></i></a></li>
					</ul>
				</div>
				<div class="phoneCol footerItem ">
					<h3>Opt atende</h3>
					<div class="itemContent">
						<p class="phone">(11) 3197.4003
							<span>seg à sex, de 09h às 18h</span>
						</p>
						<a href="">Conheça a opt atende</a>
					</div>
				</div>

				<div class="institutionalCol footerItem toggle">
					<h3>Institutional <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="" title="A Marca">A Marca</a></li>
							<li><a href="" title="Nossas Lojas">Nossas Lojas</a></li>
							<li><a href="" title="Trabalhe Conosco ">Trabalhe Conosco </a></li>
							<li><a href="" title="Seja Um Fraqueado">Seja Um Fraqueado</a></li>
						</ul>
					</div>
				</div>

				<div class="contactCol footerItem toggle">
					<h3>Atendimento <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="" title="Fale Conosco">Fale Conosco</a></li>
							<li><a href="" title="Minha Conta">Minha Conta</a></li>
							<li><a href="" title="Meus Pedidos">Meus Pedidos</a></li>
						</ul>
					</div>
				</div>

				<div class="supportCol footerItem toggle">
					<h3>Ajuda e Suporte <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="" title="Como Comprar">Como Comprar</a></li>
							<li><a href="" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
							<li><a href="" title="Política de Troca">Política de Troca</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottomFooter">
		<div class="wrapper">
			<div class="paymentCol footerItem toggle">
				<h3>Formas de pagamento <i class="ico-arrow"></i></h3>
				<div class="itemContent">
					<ul>
						<li><i class="ico-master"></i></li>
						<li><i class="ico-visa"></i></li>
						<li><i class="ico-amex"></i></li>
						<li><i class="ico-diners"></i></li>
						<li><i class="ico-hypercard"></i></li>
						<li><i class="ico-elo"></i></li>
						<li><i class="ico-boleto"></i></li>
					</ul>
				</div>
			</div>
			
			<div class="safeCol footerItem toggle">
				<h3>Segurança <i class="ico-plus"></i></h3>
				<div class="itemContent">
					<ul>
						<li class="pci">
							<a href="http://secure.vtex.com/?an=optoculos" target="_blank">
								<img src="//io.vtex.com.br/front-libs/assets/pci/vtex-pci-100.png" alt="VTEX PCI Certified" width="75" />
							</a>
						</li>
						<li class="encripty">
							<a href="https://letsencrypt.org/" target="_blank">
								<img src="/arquivos/letsencrypt-stamp.png" alt="Let's Encripty" />
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="powerCol footerItem">
				<ul>
					<li><a href="http://www.vtex.com.br" title="Vtex e-commerce cloud aplication" target="_blank"><i class="ico-vtex"></i>Vtex</a></li>
					<li><a href="http://www.agenciaecan.com.br" title="E-can - Performance Digital" target="_blank"><i class="ico-ecan"></i>e-can</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="addressRow">
		<div class="wrapper">
			<span>M&amp;S Franchising LTDA CNPJ: 29.398.040/0001-15 </span><address> Alameda Rio Negro, 503 Andar 23 - Conj. 201 Alphaville - Barueri/SP CEP: 06454-000</address>
		</div>
	</div>
</footer>