<h2>Opt Atende</h2>
<article>
    <p>
        Opt Atende é o nosso canal de relacionamento com o cliente.<br/>
        Aqui você pode comprar qualquer produto, tirar dúvidas, falar sobre o seu pedido, pedir informações sobre nossas lojas, solicitar assistência Ou simplesmente deixar sua dica para nos ajudar fazer uma experiência ainda melhor.
    </p>
    <p>
        Email: optatende@optoculos.com.br<br/>
        Facebook Messenger: facebook/optoculos<br/>
        Instagran: @optoculos<br/>
        Telefone: 11 3197.4003<br/><br/>
        Segunda a sexta as 9h as 17h
    </p>
</article>

<!--  -->

<h2>Trabalhe conosco</h2>
<form id="trabalhe-conosco" action="">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="nome">Nome*</label>
                    <input type="text" id="nome" name="nome" maxlength="50" required />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sobrenome">Sobrenome*</label>
                    <input type="text" id="sobrenome" name="sobrenome" maxlength="50" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">E-mail*</label>
                    <input type="text" id="email" name="email" maxlength="100" required />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="telefone">Telefone de contato*</label>
                    <input type="text" id="telefone" name="telefone" maxlength="50" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="estado">Estado*</label>
                    <select name="estado" id="estado">
                        <option value="">Selecione</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cidade">Cidade*</label>
                    <input type="text" id="cidade" name="cidade" maxlength="50" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="mensagem">Mensagem*</label>
                <textarea id="mensagem" name="mensagem" maxlength="750" required></textarea>
            </div>
        </div>
        <div class="row">            
            <div class="col">
                <h3>Área de interesse</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Administrativo - financeiro" name="AI_administrativo_financeiro" id="AI_administrativo_financeiro">
                    <label class="form-check-label" for="AI_administrativo_financeiro">Administrativo - financeiro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Estilo" name="AI_Estilo" id="AI_Estilo">
                    <label class="form-check-label" for="AI_Estilo">Estilo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Compras" name="AI_Compras" id="AI_Compras">
                    <label class="form-check-label" for="AI_Compras">Compras</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Marketing" name="AI_Marketing" id="AI_Marketing">
                    <label class="form-check-label" for="AI_Marketing">Marketing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Logística" name="AI_Logistica" id="AI_Logistica">
                    <label class="form-check-label" for="AI_Logistica">Logística</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Linkedin</h3>
                <div class="form-group">
                    <input type="text" id="linkedin" name="linkedin" maxlength="100" />
                </div>
            </div>
        </div>
        <div class="row">
            <button id="submit" data-entity="TC">enviar</button>
        </div>
    </div>
</form>

<!--  -->

<h2>Seja um franqueado</h2>
<article>
    <p>
        Temos parceria estratégica com os maiores fabricantes de armações, óculos e lentes do mundo;<br/>
        Presença na mídia tradicional e Digital. Calendário promocional;<br/>       
        Omnichannel. Integração total entre os canais de venda. O associado participa do resultado das vendas online.
    </p>
    <p>
        Suporte ao Franqueado:<br/>
        1. Equipe de campo treinada e disponível<br/>       
        2. OPT Evoluir - Plataforma EAD para treinamento da equipe e associados<br/>       
        3. Sistema de vendas web otimizado para o mundo da óptica. Inteligência que ajudar a vender mais e melhor<br/>       
        4. Painéis estratégicos de gestão e acompanhamento dos resultados<br/>       
        5. Gestão participativa. Todas as decisões estratégicas são tomadas em conjunto com o comitê dos associados
    </p>
</article>
<form id="franqueado" action="">
    <div class="row">
        <h3>Dados pessoais</h3>
        <div class="col">
            <div class="form-group">
                <label for="nome">Nome completo*</label>
                <input type="text" id="nome" name="nome" maxlength="100" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email">E-mail*</label>
                <input type="text" id="email" name="email" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="data_de_nascimento">Data de nascimento*</label>
                <input type="text" id="data_de_nascimento" name="data_de_nascimento" maxlength="50" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="nacionalidade">Nacionalidade*</label>
                <input type="text" id="nacionalidade" name="nacionalidade" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="estado_civil">Estado civil*</label>
                <select name="estado_civil" id="estado_civil" required>
                    <option value="">Selecione</option>
                    <option value="Solteiro(a)">Solteiro(a)</option>
                    <option value="Casado(a)">Casado(a)</option>
                    <option value="Separado(a)">Separado(a)</option>
                    <option value="Divorciado(a)">Divorciado(a)</option>
                    <option value="Viúvo(a)">Viúvo(a)</option>
                    <option value="Amasiado(a)">Amasiado(a)</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="escolaridade">Escolaridade*</label>
                <select name="escolaridade" id="escolaridade" required>
                    <option value="">Selecione</option>
                    <option value="Ensino Fundamental">Ensino Fundamental</option>
                    <option value="Ensino Medio">Ensino Medio</option>
                    <option value="Ensino Superior">Ensino Superior</option>
                    <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
                    <option value="Ensino Medio Incompleto">Ensino Medio Incompleto</option>
                    <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Contato</h3>
        <div class="col">
            <div class="form-group">
                <label for="estado">Estado*</label>
                <select name="estado" id="estado" required>
                    <option value="">Selecione</option>
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapá">Amapá</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceará">Ceará</option>
                    <option value="Distrito Federal">Distrito Federal</option>
                    <option value="Espírito Santo">Espírito Santo</option>
                    <option value="Goiás">Goiás</option>
                    <option value="Maranhão">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Pará">Pará</option>
                    <option value="Paraíba">Paraíba</option>
                    <option value="Paraná">Paraná</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piauí">Piauí</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rondônia">Rondônia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="cidade">Cidade*</label>
                <input type="text" id="cidade" name="cidade" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="telefone">Telefone*</label>
                <input type="text" id="telefone" name="telefone" maxlength="50" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="celular">Celular*</label>
                <input type="text" id="celular" name="celular" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Dados específicos</h3>
        <div class="col">
            <div class="form-group">
                <label for="formacao">Formação*</label>
                <input type="text" id="formacao" name="formacao" maxlength="50" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="profissao">Profissão*</label>
                <input type="text" id="profissao" name="profissao" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="ramo_de_atividade">Ramo de atividade*</label>
                <input type="text" id="ramo_de_atividade" name="ramo_de_atividade" maxlength="50" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="rendimento_mensal">Rendimento mensal*</label>
                <input type="text" id="rendimento_mensal" name="rendimento_mensal" maxlength="50" required />
            </div>
        </div>
    </div>
    <div class="row">
        <button id="submit" data-entity="FR">enviar</button>
    </div>
</form>

<!--  -->

<h2>Nossas Lojas</h2>
<div class="box-banner">
    <img src="/arquivos/banner-lojas.png" alt=""/>
</div>
<div class="stores">
    <div class="item">
        <p>Cel. Benedito Pires, 162 - Centro - Sorocaba</p>
        <p><a href="tel:+55153233.5720">(15) 3233.5720</a></p>
        <p><a href="mailto:loja6@optoculos.com.br">loja6@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/Dmsonbi4ifu" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.933429258038!2d-47.46132208502335!3d-23.49890718471401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58abca9f7c2cf%3A0xabd1a046284262f!2sR.+Cel.+Benedito+P%C3%ADres%2C+162+-+Centro%2C+Sorocaba+-+SP%2C+18010-160!5e0!3m2!1spt-BR!2sbr!4v1530215808382" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua São Bento, 195 - Centro - Sorocaba</p>
        <p><a href="tel:+55153226.2593">(15) 3326.2593</a></p>
        <a href="https://goo.gl/maps/2Ug2buiBXnG2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.870439538389!2d-47.46007708502333!3d-23.501175684712837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58aa2d80c3d45%3A0xa5ad2e6637b7968d!2sR.+S%C3%A3o+Bento%2C+195+-+Centro%2C+Sorocaba+-+SP%2C+18035-240!5e0!3m2!1spt-BR!2sbr!4v1530216498652" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Av. Itavuvu, 164 - Vila Olímpia - Sorocaba</p>
        <p><a href="tel:+55153329.9449">(15) 3329.9449</a></p>
        <a href="https://goo.gl/maps/SLW2BvwDWEC2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3864695921643!2d-47.47427238502365!3d-23.482585384722114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c5f536eba5fe41%3A0x44b7c22f4572c7b8!2sAv.+Itavuvu%2C+164+-+Jardim+Santa+Cecilia%2C+Sorocaba+-+SP%2C+18078-005!5e0!3m2!1spt-BR!2sbr!4v1530216533296" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua Nove de Julho, 119 - Centro - Salto</p>
        <p><a href="tel:+55112840.2030">(11) 2840.2030</a></p>
        <a href="https://goo.gl/maps/FkpQFXUifhN2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.9960715189623!2d-47.29561068502873!3d-23.20681378486006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf51fd41b77b17%3A0x1022e94726678d53!2sR.+Nove+de+Julho%2C+119+-+Centro%2C+Salto+-+SP%2C+13320-005!5e0!3m2!1spt-BR!2sbr!4v1530216559274" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua Floriano Peixoto, 756 - Centro - Itú</p>
        <p><a href="tel:+55112429.7220">(11) 2429.7220</a></p>
        <a href="https://goo.gl/maps/2pJFnW6vTpG2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.4680519786984!2d-47.302179385027685!3d-23.262436784832122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf501983655bb1%3A0x2cc3ec047d20651c!2sR.+Floriano+Peixoto%2C+756+-+Centro%2C+Itu+-+SP%2C+13300-005!5e0!3m2!1spt-BR!2sbr!4v1530216589949" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua Dr. Braguinha, 279 - Centro - Sorocaba</p>
        <p><a href="tel:+55153211.1194">(15) 3211.1194</a></p>
        <p><a href="mailto:loja1@optoculos.com.br">loja1@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/bFECFUMSsAN2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.939071257641!2d-47.45829558502338!3d-23.498703984713956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58aa39c060aaf%3A0x21855810210cc1a2!2sRua+Dr.+Braguinha%2C+279+-+Centro%2C+Sorocaba+-+SP%2C+18010-120!5e0!3m2!1spt-BR!2sbr!4v1530216622144" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Av. Ário Barnabé,1602 - Morada do Sol - Indaiatuba</p>
        <p><a href="tel:+55193318.4099">(19) 3318.4099</a></p>
        <p><a href="mailto:loja2@optoculos.com.br">loja2@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/vRrf28ZuEjN2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.4904756276765!2d-47.241897685030644!3d-23.115740784905967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf4cc434fe61bf%3A0xad0e32651362b2f9!2sAv.+%C3%81rio+Barnab%C3%A9%2C+1602+-+Jardim+Morada+do+Sol%2C+Indaiatuba+-+SP%2C+13348-503!5e0!3m2!1spt-BR!2sbr!4v1530216647017" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua Cerqueira Cesar, 751 - Centro - Indaiatuba</p>
        <p><a href="tel:+55193016.4166">(19) 3016.4166</a></p>
        <p><a href="mailto:loja3@optoculos.com.br">loja3@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/SbfjKEWSyfM2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.2697521374375!2d-47.21903378503099!3d-23.087219084920484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8b35776f301e5%3A0x6edf22225098cb12!2sR.+Cerqueira+C%C3%A9sar%2C+751+-+Centro%2C+Indaiatuba+-+SP%2C+13330-005!5e0!3m2!1spt-BR!2sbr!4v1530216670432" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Av. Itavuvu, 3365 - Shopping Cidade - Sorocaba</p>
        <p><a href="tel:+55153333.0406">(15) 3333.0406</a></p>
        <p><a href="mailto:loja4@optoculos.com.br">loja4@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/6V62ALd9ySq" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.1161082248373!2d-47.48477708502426!3d-23.4562759847351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c5f5071fb99ef9%3A0x446368995230c139!2sAv.+Itavuvu%2C+3365+-+Jardim+Santa+Cecilia%2C+Sorocaba+-+SP%2C+18078-005!5e0!3m2!1spt-BR!2sbr!4v1530216694008" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>
    <div class="item">
        <p>Rua XV de Novembro, 142 - Centro - Sorocaba</p>
        <p><a href="tel:+55153233.5712">(15) 3233.5712</a></p>
        <p><a href="mailto:loja5@optoculos.com.br">loja5@optoculos.com.br</a></p>
        <a href="https://goo.gl/maps/A8mwWbegjVC2" data-modal="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8964024936904!2d-47.45768278502336!3d-23.50024068471328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58aa24b796a71%3A0x31524d1b8161c61c!2sR.+XV+de+Novembro%2C+142+-+Centro%2C+Sorocaba+-+SP%2C+18010-080!5e0!3m2!1spt-BR!2sbr!4v1530216715222" target="_blank" class="ver_mapa linkMap"><i class="ico-marker"></i> Ver Mapa</a>
    </div>

    <div id="modalLojas" style="display: none;">
        <div class="overlay"></div>
        <div class="mapa">
            <div class="closeModal"><i class="ico-close"></i></div>
            <iframe src="" height="450" frameborder="0" style="border:0" allowfullscreen="true" allowtransparency="true"></iframe>
        </div>
    </div>
</div>

<!--  -->

<h2>Fale conosco</h2>
<form id="fale-conosco" action="">
    <div class="row">
        <div class="form-group">
            <label for="nome">Nome*</label>
            <input type="text" id="nome" name="nome" maxlength="50" required />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="email">E-mail*</label>
            <input type="text" id="email" name="email" maxlength="50" required />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="assunto">Assunto*</label>
                <input type="text" id="assunto" name="assunto" maxlength="50" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" maxlength="50" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="mensagem">Mensagem*</label>
            <textarea id="mensagem" name="mensagem" maxlength="750" required></textarea>
        </div>
    </div>
    <div class="row">
        <button id="submit" data-entity="FC">enviar</button>
    </div>
</form>

<!--  -->

<h2>Receita médica</h2>
<article>
    <p>O que não falta aqui é opção para comprar seus óculos.</p>
    <p>Quer comprar sem sair de casa?<br/>
    Mande sua receita para nosso laboratório e produzimos seu produto sob medida. Veja como é fácil.</p>
    
    <h5>Óculos de Grau</h5>
    <p>Escolha seu modelo preferido, clique em "Adicionar ao carrinho e Escolher as Lentes". Finalize a compra, envie a cópia da receita oftalmológica para o e-mail receita@optoculos.com.br com o assunto “Receita do pedido (nº do pedido)”.</p>
    
    <h5>Lentes de Contato</h5>
    <p>Escolha a lente e preencha as especificações.</p>
    
    <p><strong>IMPORTANTE:</strong> Lentes de contato para reposição são vendidas apenas para quem já é usuário. Novos usuários precisam passar pelo médico oftalmologista. Faça sua consulta regularmente e mantenha sua prescrição médica atualizada.</p>
    
    <p>Precisa de ajuda? Fale com a gente pelo email receitas@optoculos.com.br e nossos técnicos especializados em lentes de contato vão te orientar.</p>
    
    <p><strong>COMO FAÇO PARA SABER SE MEU GRAU É POSITIVO OU NEGATIVO?</strong><br/>
    Fica receita médica, na frente do grau. Seu médico informa se o grau tem um sinal negativo (que indica miopia) ou positivo (no caso de hipermetropia).</p>        
</article>

<!--  -->

<h2>Garantia</h2>
<article>
    <h5>GARANTIA DE SATISFAÇÃO</h5>
    <p>Não ficou 100% satisfeito?<br/>
        Quer trocar ou devolver os óculos (sem uso e danos na embalagem e produto)?<br/>
        Você tem 30 dias após a entrega para falar com a gente o que te incomodou e pedir troca ou devolução do dinheiro (na mesma forma que feito na compra). <br/>
        Não precisa se preocupar com frete de retorno. Ele fica por nossa conta.<br/>
        Entre em contato pelo email ajuda@optoculos.com.br com as informações:
    </p>
    <ul>
        <li>O assunto do e-mail "Garantia"</li>
        <li>O número do seu pedido</li>
        <li>Uma breve descrição da situação.</li>
    </ul>        
    <p>Em menos de 24h você será informando sobre os próximos passos.</p>
</article>

<article>
    <h5>GARANTIA DE ADAPTAÇÃO ÀS LENTES</h5>
    <p>
        Não se adapto às lentes?<br/>
        Tudo bem. A gente troca na mesma armação, sem nenhum custo.<br/>
        Você tem 60 dias para falar com a gente. <br/>
        O que vai ajudar seu caso é voltar ao mesmo oftalmologista e refazer o exame. Assim você entra em contato com uma nova receita médica.<br/>
        Entre em contato pelo email ajuda@optoculos.com.br com as informações:
    </p>
    <ul>
        <li>O assunto do e-mail "Garantia"</li>
        <li>O número do seu pedido</li>
        <li>Uma breve descrição da situação.</li>
    </ul>
    <p>Em menos de 24h você será informando sobre os próximos passos.</p>
</article>

<article>
    <h5>GARANTIA DE FABRICAÇÃO E USO</h5>
    <p>
        Avaliamos, cuidadosamente, cada produto antes de enviá-los a você. <br/>
        Se ainda assim você viu algum defeito na fabricação ou no uso, temos 180 dias (a partir da data da entrega) de garantia de fabricação.<br/>
        Checamos o produto para consertar ou enviar um novo (se tiver em estoque), o mais rápido possível. Os produtos também passam por avaliação técnica de avaria do fornecedor.
    </p>
    <p>
        <strong>ATENÇÃO:</strong>Não consideramos defeito de fabricação:<br/>
        - Uso indevido.<br/>
        - Aplicação de produtos químicos ou orgânicos.<br/>
        - Deformações geradas por exposição prolongada a altas temperaturas (por exemplo: óculos deixados em painéis de veículos ao sol).<br/>
        - Lentes riscadas ou danificadas.<br/>
        - Danos causados por terceiros.        
    </p>
    <p>Entre em contato pelo email ajuda@optoculos.com.br com as informações:</p>
    <ul>
        <li>O assunto do e-mail "Garantia"</li>
        <li>O número do seu pedido</li>
        <li>Uma breve descrição da situação.</li>
    </ul>
    <p>Em menos de 24h você será informando sobre os próximos passos.</p>        
</article>

<article>
    <h5>GARANTIA DO FABRICANTE</h5>
    <p>
        Lentes multifocais tem nossas garantias.<br/>
        Mas você também tem certificados de autenticidade e garantias de até 2 anos.<br/>
        Confira no site do Fabricante.
    </p>
</article>

<!--  -->

<h2>Política de troca</h2>
<article>
    <h5>PRAZO PARA SOLICITAÇÃO DE TROCA OU DEVOLUÇÃO POR MOTIVO:</h5>
    <h6>1.1 - Arrependimento de compra</h6>
    <p>O produto não era como você esperava? Você tem 30 dias corridos, após a entrega, para pedir a troca ou devolução (caso o produto esteja sem uso).</p>
</article>
<article>
    <h6>1.2 - Erro na entrega, produto ou embalagem avariada</h6>
    <p>
        Seu produto chegou com embalagem aberta ou avariada? <br/>
        Acessórios faltando? <br/>
        Diferente do que foi comprado? <br/>
        Fale com a gente imediatamente! Você tem 7 dias úteis, após a entrega, para pedir a troca ou devolução.
    </p>
</article>
<article>
    <h6>1.3 - Produto com defeito SEM USO</h6>
    <p>
        Se seu produto chegou com alguma falha ou defeito, fale pra gente.<br/>
        Você tem 30 dias corridos, após a entrega, para pedir a troca ou devolução. <br/>
        Lembre-se: Neste caso, o produto precisa estar sem uso. <br/>
    </p>
</article>
<article>
    <h6>1.4 - Produto com defeito APÓS USO</h6>
    <p>
        Todos os produtos das nossas lojas têm 180 dias de garantia* pelo fabricante. <br/>
        Se você usou o produto e achou algum defeito, fale pra gente. <br/>
        Mande um email para ajuda@optoculos.com.br. <br/>
        Vamos resolver o mais rápido possível. <br/>
        *exceto produtos de descarte mensal. 
    </p>
</article>
<article>
    <h5>OPÇÕES DE TROCA</h5>
    <p>
        Nossas opções não ficam apenas nos produtos. <br/>
        Temos também algumas alternativas para fazer a troca do seu produto.
    </p>
    <ul>
        <li>Troca pelo mesmo produto sem pagamento de novo frete;</li>
        <li>Troca por outro produto de igual valor sem pagamento de novo frete;</li>
        <li>Vale-Trocas para ser utilizado na Opt em até 180 dias após a emissão.</li>
    </ul>
</article>
<article>
    <h5>OPÇÕES DE DEVOLUÇÃO</h5>
    <p>
        Receber seu dinheiro de volta funciona assim*:<br/>
        - De acordo com a modalidade de pagamento usada no pedido. <br/>
        - Vale-trocas para ser utilizado na Opt em até 180 dias após a emissão.<br/>
        *Exceto casos com a condição de devolução do item 1.4
    </p>
</article>
<article>
    <h5>CONDIÇÕES DO PRODUTO PARA TROCA OU DEVOLUÇÃO</h5>
    <p>
        - Envie o produto sem uso e com embalagem original, manuais, acessórios e nota fiscal. <br/>
        - Analisamos os produtos devolvidos. Pode levar até 5 dias úteis, a partir do momento que chegam para gente.<br/>
        - O produto também é analisado pelo fabricante. Isso pode levar até 30 dias úteis, a partir da devolução.<br/>
        - Fazemos a troca e/ou a devolução do valor pago após a análise. Se identificarmos divergência ou violação no produto, não aceitaremos a devolução e enviaremos o produto ao remetente.<br/>
        - A devolução do produto é por nossa conta. Entre em contato e explicaremos como fazer.<br/>
        - Informamos o prazo para o envio do seu produto na hora da solicitação. O novo item ou a devolução do valor pago será feito após o resultado da análise.
    </p>
</article>
<article>
    <h5>PRAZO PARA RESTITUIÇÃO</h5>
    <ul>
        <li>Pagamento com Cartão de Crédito: o estorno será visualizado em até 2 faturas após a devolução, de acordo com a data de vencimento do cartão.</li>
        <li>Pagamento com Boleto Bancário: o reembolso será feito na conta corrente do titular do pedido em até 20 dias úteis após devolução. Caso o titular do pedido não tenha conta bancária, faremos uma Ordem de Pagamento.</li>
    </ul>
    <p>
        Desistiu do seu pedido? Tudo bem!<br/>
        Veja como cancelar.<br/>
        Escolheu Boleto Bancário e ainda não realizou o pagamento?<br/>
        É só esperar 3 dias corridos que seu pedido será automaticamente cancelado.<br/>
        Já pagou?<br/>
        Fale com a gente pelo e-mail ajuda@optoculos.com.br e faça seu cancelamento.<br/>
    </p>
</article>

<!--  -->

<h2>COMO COMPRAR</h2>
<article>
    <h5>A ESCOLHA</h5>
    <p>
        Quer lentes de contato, óculos de grau ou de sol? <br/>
        Basta olhar nosso catálogo e escolher o que combina com você.<br/>
        Achou seu preferido? Selecione o tamanho e clique em "Adicionar à Sacola".<br/>
        Não sabe o tamanho certo? Sem problemas, nosso Guia de Tamanhos vai te ajudar. É só clicar no canto direito da tela, abaixo do valor do produto.
    </p>
</article>
<article>
    <h5>A BUSCA</h5>
    <p>
        Nosso site foi criado para você encontrar tudo, menos dificuldade.<br/>
        Digite na caixa de busca o que deseja ou escolha na barra de menu de categorias o que você procura.
    </p>
    <p>
        Já tem um estilo na cabeça? Então, escolha a marca preferida ou use nossos filtros nas páginas de Óculos de Grau, Óculos Solar, Lentes e Acessórios.<br/>
        Não conseguiu, mesmo? Tudo bem, temos diversos canais de contato. WhatsApp, email, telefone, chat, escolha a forma e levamos suas opções preferidas até você.
    </p>
</article>
<article>
    <h5>SOBRE O PRODUTO</h5>
    <p>
        Tudo o que você quer saber sobre seu modelo preferido, material, cor e tamanho, colocamos na página de produto. Em alguns casos, você também tem informações adicionais, como formas de uso e cuidados, dicas e até vídeos. Importante: todos os produtos que você encontra na Opt são originais e autorizados pelas respectivas marcas.
    </p>
</article>
<article>
    <h5>ÓCULOS DE SOL</h5>
    <p>Dias de sol podem ser vividos com mais estilo. Na Opt é muito fácil achar um modelo que tem a sua cara. Quando encontrar seu preferido, leia as descrições do produto, acessórios inclusos e forma de conservação e uso. Já viu tudo e quer levar pra casa? Adicione o produto à sacola, finalize a compra e pronto!</p>
</article>
<article>
    <h5>ÓCULOS DE GRAU</h5>
    <p>
        Comprar seus óculos de grau é mais simples do que você imagina.<br/>
        Depois de consultar um oftalmologista, basta escolher a armação preferida. Temos vários modelos combinar com seu estilo. Com a receita em mãos, você confere as especificações da lente e seleciona o tipo e a espessura. Para finalizar o pedido, envie sua receita pelo email: xxx@optoculos.com.br
    </p>
    <p>
        Precisa de ajuda? Na Opt, temos técnicos especializados para orientar a escolha de armações e lentes de acordo com sua necessidade. Envie sua dúvida pelo WhatsApp, email, telefone ou chat.
    </p>
</article>
<article>
    <h5>LENTES DE CONTATO</h5>
    <p>
        Na Opt as lentes de contato já facilitam sua vida na hora da compra, fazendo sem sair de casa.<br/>
        Mas atenção: consulte em um oftalmologista e tenha sua receita em mãos.            
    </p>
    <p>
        Selecione a marca preferida e o tipo de lente. Na página do produto você define o Grau Esférico, a Curva Base, o Diâmetro e a quantidade de lentes, de acordo com sua receita. Depois, adiciona no carrinho e finaliza a compra.
    </p>
    <p>
        Precisa de ajuda? Na Opt, temos técnicos especializados em lentes de contato para te aulixiar a fazer a escolha certa. Envie sua dúvida pelo WhatsApp, email, telefone ou chat.
    </p>
    <p>
        <strong>IMPORTANTE:</strong> Lentes de contato para reposição são vendidas apenas para quem já é usuário. Novos usuários precisam passar pelo médico oftalmologista. Faça sua consulta regularmente e mantenha sua prescrição médica atualizada.
    </p>
</article>

<!--  -->

<h2>Pagamento</h2>
<article>
    <p>Na Opt você tem várias opções tá no pagamento.</p>
    <ul>
        <li>Boleto</li>
        <li>Cartão de crédito - Bandeiras Visa, MasterCard, Dinners, Elo, Hipercard e AMEX em até 10X sem juros, com parcela mínima de R$ 50,00.</li>
    </ul>
</article>
<article>
    <h5>ALTERAR FORMA DE PAGAMENTO</h5>
    <p>O único momento em que você não pode alterar a a forma de pagamento é após finalizar a compra.</p>
    <p>Então, fique atento. Confira os detalhes do pagamento no momento da compra.No caso de cartão de crédito, você pode alterar a forma de pagar, desde que a compra não tenha sido aprovada e o produto não tenha sido enviado.</p>
</article>
<article>
    <h5>PAGAMENTO NÃO APROVADO</h5>
    <p>
        Se o pagamento não foi aprovado, confira se a digitação dos dados do cartão de crédito está correta, se a operadora está com problema no sistema e o seu limite disponível.<br/>
        Fique atento ao digitar os seguintes dados:
    </p>
    <ul>
        <li>Número do cartão</li>
        <li>Nome exatamente como consta no cartão</li>
        <li>Validade (mês/ano)</li>
        <li>Código de segurança (os três digitos que aparecem no verso do cartão)</li>
    </ul>
    <p>Você também pode entrar em contato com a operadora do seu cartão para saber o motivo.</p>
</article>
<article>
    <h5>CARTÃO EMITIDO NO EXTERIOR</h5>
    <p>Não aceitamos cartões emitidos fora do Brasil, como forma de pagamento.</p>
</article>
<article>
    <h5>NÃO RECEBI O BOLETO</h5>
    <p>
        Caso não receba o boleto da sua compra, você pode obter a segunda via acessando sua conta. Entre nos detalhes do pedido e clique no link “Imprimir  boleto”.<br/>
    </p>
</article>
<article>
    <h5>MEU BOLETO VENCEU E EU AINDA NÃO PAGUEI</h5>
    <p>
        Entre em contato com a nossa Central de Ajuda e solicite um novo boleto.
        <strong>ATENÇÃO:</strong> O(s) produto(s) que escolhidos podem não estar mais disponíveis.
    </p>
</article>
<article>
    <h5>PAGUEI MEU BOLETO, MAS AINDA NÃO FOI CONFIRMADO</h5>
    <p>
        A confirmação do pedido pode levar até 3 dias úteis, pois a comunicação do banco para a Opt depende da compensação bancária. Os 3 dias úteis já passaram e não teve confirmação? Acesse “MINHA CONTA”, “PEDIDOS” e visualize o status do seu pedido.<br/>
        Não resolveu ainda? Fale com a gente pela Central de Ajuda.
    </p>
</article>

<!--  -->

<h2>SEGURANÇA</h2>
<article>
    <h5>COMPARTILHAMENTO DE INFORMAÇÕES</h5>
    <p>
        <strong>ATENÇÃO:</strong> A Opt não vende, aluga ou transfere seus dados para ninguém.<br/>
        Mas, podemos estudar essas informações, internamente e de forma genérica, para enteder melhor suas necessidades e aprimorar serviços e produtos.            
    </p>    
</article>
<article>
    <h5>EMAIL DE OFERTAS E SERVIÇOS</h5>
    <p>
        Na Opt a gente quer fazer tudo o que você quer. <br/>
        Com emails não é diferente. Você só recebe se quiser. <br/> 
        Somos contra SPAMs, aqueles emails que chegam para incomodar. <br/>
        Você escolhe, a qualquer momento, se quer receber nossos emails.<br/>
        Desistiu de recebê-los? Sem problemas. <br/>
        Cancele sua assinatura no link “Minha Conta”, na opção “Não, obrigado”. Dá para clicar no link “Descadastre-se”, no rodapé de todos os nossos emails.            
    </p>
</article>
<article>
    <h5>PROPRIEDADE DAS INFORMAÇÕES</h5>
    <p>
        As informações deste site da Opt são nossa propriedade. Não podem ser alteradas, copiadas, extraídas ou usadas sem nossa prévia e expressa autorização por escrito.             
    </p>
    <p>Assim, ao acessar optoculos.com.br, todo mundo fica ciente que o uso indevido destas informações pode acarretar sanções civis e criminais.</p>
</article>

<!--  -->

<h2>ENTREGA</h2>
<article>
    <p>
        Para saber quanto fica seu frete, basta inserir seu CEP no campo “Cálculo de Frete” na página do “Pedido” e no seu Carrinho.<br/>
        Temos três opções de envio:
    </p>
    <ul>
        <li>Normal</li>
        <li>Expressa</li>
        <li>Turbo</li>
    </ul>
    <p>Opções, prazos e valores variam de acordo com o endereço da entrega.</p>
</article>
<article>
    <h5>PRAZOS DE ENTREGA</h5>
    <h6>Óculos de Grau e de Sol</h6>
    <p>
        O prazo de envio depende da disponibilidade do produto em nossos estoques. Caso esteja disponível, você pode receber no mesmo dia. 
        Confira o prazo do seu pedido no Carrinho de Compras e no Checkout.            
    </p>
</article>
<article>
    <h6>Lentes de Contato</h6>
    <p>Nossas lentes de contato são feitas sob medida, para atender sua graduação e necessidade. Assim, o prazo de entrega varia com o tempo de produção. </p>
    <p>Mas, relaxe. Você pode acompanhar cada passo no status do seu Pedido e pelos comunicados que enviaremos durante o processo.</p>
</article>
<article>
    <h5>IMPORTANTE:</h5>
    <p>Nosso prazo de entrega começa a partir da confirmação das Administradoras de Cartão de Crédito, que pode ocorrer no ato da compra, ou a efetivação do pagamento do Boleto, que pode levar até 3 dias úteis.</p>
    <p>As entregas são realizadas em todo o Brasil pelos Correios, (SEDEX ou PAC), e Transportadoras. Você sabe seu prazo no momento da compra.</p>
    <p>
        Os horários de entrega são: <br/>
        Segunda a Sexta das 08h às 17h <br/>
        Sábados das 08h às 12h            
    </p>
</article>