/*fonts*/
@font-face {
    font-family: 'optoculosfonticon';
    src:  url('/arquivos/optoculosfonticon.eot.css?8cp9xb');
    src:  url('/arquivos/optoculosfonticon.eot.css?8cp9xb#iefix') format('embedded-opentype'),
      url('/arquivos/optoculosfonticon.ttf.css?8cp9xb') format('truetype'),
      url('/arquivos/optoculosfonticon.woff.css?8cp9xb') format('woff'),
      url('/arquivos/optoculosfonticon.svg.css?8cp9xb#optoculosfonticon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="ico-"], [class*=" ico-"] {
    font-family: 'optoculosfonticon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ico-arrow_thin:before {
    content: "\e900";
  }
  .ico-small-view:before {
    content: "\e901";
  }
  .ico-large-view:before {
    content: "\e902";
  }
  .ico-amex:before {
    content: "\e903";
  }
  .ico-clerk:before {
    content: "\e904";
  }
  .ico-formato-aviador:before {
    content: "\e905";
  }
  .ico-bag:before {
    content: "\e906";
  }
  .ico-boleto:before {
    content: "\e907";
  }
  .ico-box:before {
    content: "\e908";
  }
  .ico-truck:before {
    content: "\e909";
  }
  .ico-card:before {
    content: "\e90a";
  }
  .ico-check:before {
    content: "\e90b";
  }
  .ico-diners:before {
    content: "\e90d";
  }
  .ico-ecan:before {
    content: "\e90e";
  }
  .ico-ball:before {
    content: "\e90f";
  }
  .ico-elo:before {
    content: "\e910";
  }
  .ico-formato-esportivo:before {
    content: "\e911";
  }
  .ico-facebook:before {
    content: "\e912";
  }
  .ico-medal:before {
    content: "\e913";
  }
  .ico-change:before {
    content: "\e914";
  }
  .ico-formato-gatinho:before {
    content: "\e915";
  }
  .ico-mobile-small-view:before {
    content: "\e916";
  }
  .ico-hipercard:before {
    content: "\e917";
  }
  .ico-instagram:before {
    content: "\e918";
  }
  .ico-trash:before {
    content: "\e919";
  }
  .ico-formato-mascara:before {
    content: "\e91a";
  }
  .ico-master:before {
    content: "\e91b";
  }
  .ico-medalha:before {
    content: "\e91c";
  }
  .ico-menu:before {
    content: "\e91d";
  }
  .ico-mobile-large-view:before {
    content: "\e91e";
  }
  .ico-formato-quadrado:before {
    content: "\e91f";
  }
  .ico-formato-redondo:before {
    content: "\e920";
  }
  .ico-formato-retangular:before {
    content: "\e921";
  }
  .ico-search:before {
    content: "\e922";
  }
  .ico-arrow:before,
  .ico-expand:before {
    content: "\e923";
  }
  .ico-money-medal:before {
    content: "\e924";
  }
  .ico-visa:before {
    content: "\e925";
  }
  .ico-vtex:before {
    content: "\e932";
  }
  .ico-close:before {
    content: "\e927";
  }
  .ico-youtube:before {
    content: "\e928";
  }
  