// Carrinho
.header-cart {
    .hidden {display: none;}
    .openCart {
        position: relative;
        display: block;
        color: $color1;
        font-size: rem(28px);
        line-height: normal;

        &:hover,
        &:active {
            text-decoration: none;
        }

        i {
            float: left;
        }

        span {
            display: block;
            float: left;
            background: $color5;
            margin-left: 5px;
            margin-top: 3px;
            width: 22px;
            height: 22px;
            color: #fff;
            font-size: 11px;
            line-height: 22px;            
            text-align: center;
            @include border-radius(50%);
        }

        @include media($mobile) {
            font-size: 22px;
            span {                
                width: 18px;
                height: 18px;                
                font-size: 9px;
                line-height: 18px;
            }
        }
    }
}
.sta-cart-overlay,
.sta-cart-comfirm-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.5);    
}
.sta-cart-container {
    position: fixed;
    width: 500px;
    height: 100%;
    top: 0;
    right: -515px;
    background: $white;
    z-index: 9999999999;

    @include media($tablet) {
        width: 350px;
    }
    @include media($mobile) {
        width: 100%;
    }

    button {
        @include appearance(none);
        cursor: pointer;
        background: $white;
        color: $color1;
        font-family: $primaryFont;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .sta-cart-title {
        position: relative;
        padding: 55px 60px;
        @include media($tablet) {
            padding: 30px 20px 20px;
        }
        @include media($mobile) {
            padding: 30px 10px;
        }
        .sta-cart-close {
            display: inline-block;
            vertical-align: middle;
            margin-right: 40px;            
            line-height: 1;
            @include media($mobile) {
               margin-right: 20px; 
            }
            i {                
                font-size: rem(16px);
                @include media($mobile) {
                    font-size: rem(13px); 
                }
            }
        }
        h3 {            
            display: inline-block;
            vertical-align: middle;
            margin: 0;            
            color: $color1;
            font-size: rem(12px);
            font-weight: 600;      
            text-align: center;
            text-transform: uppercase;
            line-height: normal;
            letter-spacing: 1px;
        }
    }
    .sta-cart-items {
        padding: 0 20px;
        height: calc(100vh - 325px);
        overflow: auto;
        @include media($tablet) {
            padding: 0; 
            height: calc(100vh - 250px);
        }
        ul {
            margin: 0 0 0 0;
        }
        li {
            line-height: normal;
        }
        &>ul {
            &>li {
                display: table;
                width: 100%;
                padding: 0 55px;
                margin-bottom: 30px;
                @include media($tablet) {
                    padding: 0; 
                    margin-bottom: 0;
                }
                .sta-cart-pdt-image {
                    display: table-cell;
                    vertical-align: middle;
                    width: 80px;
                    line-height: 0;
                    img {
                        display: block;
                        margin: auto;
                        width: 70px;
                        height: 80px;
                    }
                }
                .sta-cart-pdt-info {
                    position: relative;             
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 10px;
                    @include media($tablet) {
                        padding: 10px; 
                    }
                    h4 {
                        display: block;
                        margin: 0 0 0 0;
                        font-size: rem(12px);
                        font-weight: 600;
                        line-height: normal;
                        
                    }
                    .sta-cart-pdt-other-info {
                        clear: both;
                        p {
                            margin: 5px 0;                            
                        }
                        .bestPrice {
                            font-size: rem(14px);
                            font-weight: 600;
                            color: $color5;
                        }
                        .listPrice {
                            color: $color2;
                            font-size: rem(12px);
                        }
                    }
                }
                .sta-cart-pdt-action {
                    display: table-cell;
                    vertical-align: middle;
                    width: 80px;
                    text-align: center;
                    line-height: 80px;
                    @include media($mobile) {
                        width: 40px;
                    }
                }
            }
        }
    }
    .sta-cart-resume {
        padding: 20px 70px;
        @include media($tablet) {
            padding: 20px 10px; 
        }
        .sta-cart-sub {
            display: block;
            margin-bottom: 30px;
            color: $color1;
            font-size: rem(15px);
            text-transform: uppercase;
            em {
                font-style: normal;
                font-weight: 600;
            }
            strong {
                color: $color5;
                font-weight: 700;
            }
        }
        .sta-cart-freight,
        .sta-cart-discount,
        .sta-cart-total {
            display: none !important;
        }
        .cartLink {
            @include supportButton($color5);
            display: block;
            padding: 15px 10px;
            margin-bottom: 10px;
        }
        .checkoutLink {            
            display: block;
            padding: 15px 10px;
            color: $color1;
            font-size: 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
            &:before {
                content: 'VER DETALHES DO CARRINHO';
                font-size: rem(12px);
            }
        }
    }
}
.sta-cart-comfirm {
    display: none;
    width: 855px;
    height: 435px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 30px 0;
    background: #fff;
    text-align: center;
    z-index: 9999999999;
    @include border-radius(10px);
    
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $color1;
        font-size: 10px;
        cursor: pointer;
    }

    h3 {
        color: $color2;
        font-family: $secondaryFont;
        font-size: rem(22px);   
        margin-bottom: 40px;
    }

    .sta-product-img {
        @include span-columns(2 of 6);
        @include shift(1 of 6);

        img {
            width: 100%;
            height: auto;
            line-height: 0;
        }
    }

    .sta-product-info {
        @include span-columns(2 of 6);
        .productName {
            height: 35px;
            margin-bottom: 20px;
            color: $color1;            
            font-size: rem(14px);   
            overflow: hidden;
        }
        .price {
            margin-bottom: 20px;
            text-align: center;
            .listPrice {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                font-size: rem(14px);
                text-decoration: line-through;                
            }
            .bestPrice {
                display: inline-block;
                vertical-align: middle;
                color: $color2;
                font-size: rem(18px);
                font-weight: 900;                            
            }
        }
        .dimensions {
            margin-bottom: 20px;
            .topic {
                display: inline-block;
                vertical-align: middle;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 28px;  
                    height: 28px;
                    border: 1px solid #cccccc;
                    margin: 0 5px;
                    padding: 0 5px;
                    color: $color1;
                    font-size: rem(12px);
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 28px;
                    cursor: pointer;
                    &.sku-picked {
                        border: 1px solid $color3;                            
                        @include box-shadow(0 0 0 1px $color3);
                    }                    
                }
                &.Cor {
                    li {
                        font-size: 0;
                        @include border-radius(50%);
                    }
                }
                &.Tamanho {
                    li {
                        @include border-radius(25px);
                    }
                }
            }
        }
        .sta-confirm-action {
            a { 
                display: block;
                padding: 10px 20px;
                &.sta-finishShop {
                    //@include primaryButton(rem(16px));
                    margin-bottom: 10px;
                }
                &.sta-keepShop {
                    //@include secondaryButton(rem(16px));
                }
            }
        }
    }

    @include media($tablet) {
        width: 740px;        
    }

    @include media($mobile) {
        width: 300px;        
        .sta-product-img {
            display: none;
        }
        .sta-product-info {
            width: 100%;
            margin: auto;
            margin-left: auto;
            float: none;
        }
        
    }
}